<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <!--<a class="navbar-brand" href="#">Navbar w/ text</a>-->
            @Html.ActionLink("Dashboard", "Index", "Dashboard", "", new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @if (User.IsInRole("Admin") || User.IsInRole("ContentManager"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Страницы", "Index", "Pages", "", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Сайдбар", "EditSidebar", "Pages", "", new { @class = "nav-link" })
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Категории", "Categories", "Shop", "", new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Товары", "Products", "Shop", "", new { @class = "nav-link" })
                        </li>
                    }


                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager")))
                    {

                        <li class="nav-item">
                            @Html.ActionLink("Заказы", "Orders", "Shop", "", new { @class = "nav-link" })
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Пользователи", "", "", "", new { @class = "nav-link" })
                        </li>
                    }

                </ul>

                <!--New right menu-->

                <ul class="navbar-nav ml-auto">
                    <li>
                        <a href="/" class="navbar-brand" target="_blank">Сайт</a>
                    </li>
                </ul>

                @*<span class="navbar-text">
                        Navbar text with an inline element
                    </span>*@
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Разработчик: Дюдькин Андрей, Петрусин Роман </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!--Подключаем бандл к сайту-->
    @Scripts.Render("~/bundles/jqueryui")
    <!--Scripts.Render("~/bundles/bootstrap")-->

    @Scripts.Render("~/bundles/ckeditor")

    @RenderSection("scripts", required: false)
</body>
</html>
