@model IEnumerable<ReverseCustoms.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Pages";
}
<p><h2>Страницы</h2></p>


@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<p>
    @Html.ActionLink("Создать страницу", "AddPage", "", new { @class = "btn btn-success" })
</p>

@if (!Model.Any())
{
    <h1 class="text-center"> В данный момент нет ни одной страницы.</h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                Title
            </th>
            <th>
                Slug
            </th>

            <th>
                Sidebar
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @if (item.Slug != "home")
                    {
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    }
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Инфо", "PageDetails", new { id = item.Id })
                    <!--Если Slug = home, то не показываем кнопку удаления-->
                    @if (item.Slug != "home")
                    {
                        string slash = "| ";
                        @slash;
                        @Html.ActionLink("Удалить", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                    }

                </td>
            </tr>
        }

    </table>
}



@section Scripts
{
    <script src="~/Content/ShopJS/PagesIndexViewJS.js"></script>
}