@model IEnumerable<ReverseCustoms.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

@if (!Model.Any())
{
    <h2 class="text-center">В данный момент нет заказов.</h2>
}
else 
{ 
    <table class="table">
        <tr>
            <th>
                Номе заказа
            </th>
            <th>
                Пользователь
            </th>
            <th>
                Детали заказа
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Стоимость
            </th>
            
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td>
            @foreach (var item2 in item.ProductsAndQty)
            {
                @item2.Key @:x @item2.Value <br />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total) ₽
        </td>

    </tr>
    }

    </table>
}