@model IEnumerable<ReverseCustoms.Models.ViewModels.Account.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
}

<h2>Мои заказы</h2>

@if (!Model.Any())
{
    <h2 class="text-center">Вы пока ничего не заказывали.</h2>
}
else
{
    <table class="table">
        <tr>
            <th>
                Номер заказа
            </th>
            <th>
                Информация
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Цена
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>


        <td>
            @foreach (var item2 in item.ProductsAndQty)
            {
                @item2.Key @:x @item2.Value <br />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total) ₽
        </td>
    </tr>
        }

    </table>
}